header.top-header
  .container
    .header-outer
      .row
        a(href="#").header-left.col-md-3
          img(src="images/cigital.png")
        .header-right.col-md-9
          .profile-box.pull-right
            a(href="mailto:minhtam@gmail.com").profile-name minhtam@gmail.com
            .profile-dropdown
              img(src="images/photo-avatar-1.jpg" alt="")
              i.ico.ico-arrow-down
          ul.menu-main.pull-right
            li
              a(href="#" title="")
                img(src="images/photo-menu-1.png")
                span Dashboard
            li.active
              a(href="#" title="")
                img(src="images/photo-menu-2.png")
                span Test
            li
              a(href="#" title="")
                img(src="images/photo-menu-3.png")
                span Target
            li
              a(href="#" title="")
                img(src="images/photo-menu-4.png")
                span Report
            li
              a(href="#" title="")
                img(src="images/photo-menu-5.png")
                span Service
            li
              a(href="#" title="")
                img(src="images/photo-menu-6.png")
                span Other
            li
              a(href="#" title="")
                img(src="images/photo-menu-7.png")
                span settings
    .header-inner
      ul.tabs-ctrl.pull-left
        li
          a(href="#").active Test info
        li
          a(href="#") manage tests
        li
          a(href="#") upload files
      .time-ctrl.pull-right
        button(type="button").btn.btn-warning 
          i.ico.ico-clock
          |schedule new test
        i.ico.ico-refresh
